version: '3.9'

services:
  restfull-redis:
    image: redis:alpine
    container_name: restfull-redis
    ports:
      - '6379:6379'
    networks:
      - backend

  restfull-mongodb:
    image: mongo:8
    container_name: restfull-mongodb
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db
    networks:
      - backend

volumes:
  mongo_data:

networks:
  backend:
