services:
  rabbitmq:
    ports: []
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
  mongodb:
    ports: []
    healthcheck:
      test: ["CMD", "mongo", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
  app:
    build:
      context: ..
      dockerfile: docker/backend/Dockerfile
    container_name: nest-app
    env_file:
      - .env.production
    environment:
      MONGO_URI: mongodb://mongodb:27017/school
      RABBITMQ_URI: amqp://user:password@rabbitmq:5672
    depends_on:
      - rabbitmq
      - mongodb
    ports:
      - '3000:3000'
    networks:
      - backend